
/***************************** MAIN APP STYLING ******************************/

.App {
  text-align: center;
}

.mainContainer {
  min-width: 100vw;
}

.navContainer {
  z-index: 1;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-evenly;
  position: fixed; /* Make it stick, even on scroll */
  width: 100%;
  margin: 0;
  padding: 0;
  height: 7%;
  background: white;
}

.nav {
  text-decoration: none;
  color: purple;
  font-size: 1.3em;
}

/***************************** HOME APP STYLING ******************************/
.rowCentering {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.contentCentering {
  display: flex;
  align-items: flex-start;
  flex-flow: column;
  border: 2em;
  padding: 2em;
  width: 100%;
}

.pictureBackground {
  height: 50vh;
  text-align: center;
  position: relative;
  width: 100%;
  background: lightblue;
}
h1 {
  background: green;
  position: relative;
  text-align: center;
  width: 100%;
}
