.App {
  text-align: center;
}

.navContainer {
  display: flex;
  justify-content: center;
  position: fixed; /* Make it stick, even on scroll */
  width: 100%;
  margin: 0;
  padding: 0;
}

nav {
  background-color: rgb(104, 104, 212);
  height: 7%; /* Full height */
}
