
/***************************** MAIN APP STYLING ******************************/

.App {
  text-align: center;
}

.mainContainer {
  min-width: 100vw;
}

.navContainer {
  display: flex;
  justify-content: center;
  position: fixed; /* Make it stick, even on scroll */
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

}

nav {
  background-color: rgb(104, 104, 212);
  height: 7%; /* Full height */
  width: 100%;
  display: flex;
  justify-content: center;
}

/***************************** HOME APP STYLING ******************************/
.rowCentering {
  display: flex;
  justify-content: center;
}

h1 {
  background: green;
}
