
/***************************** MAIN APP STYLING ******************************/

.App {
  text-align: center;
}

.mainContainer {
  min-width: 100vw;
}

.navContainer {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-evenly;
  position: fixed; /* Make it stick, even on scroll */
  width: 100%;
  margin: 0;
  padding: 0;
  height: 7%;
  background: white;
}

.nav {
  text-decoration: none;
  color: purple;
  font-size: 1.3em;
}

/***************************** HOME APP STYLING ******************************/
.rowCentering {
  display: flex;
  justify-content: center;
}

h1 {
  background: green;
}
